.navbar {
  background-color: #edf1a9;
}

.searchBtn {
  height: 50px;
  margin-top: 23px;
}

.searchField {
  height: 50px;
  margin-top: 23px;
}

.hamburger {
  margin-top: 23px;
  margin-left: 40px
}

.profileBtn {
  margin-left: 23px
}

.logoutBtn {
  margin-right: 40px
}

.offcanvas {
  background-color: #edf1a9;
}